.emoji-field.cell, .emoji-field.text-field {
    -fx-font-family: "Symbola", "Segoe UI Symbol", "Helvetica", "Arial", sans-serif;
    -fx-font-size: 110%;
}

.mono-font {
    -fx-font-family: monospace;
}
